<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatMessenger.Properties.Settings.connectionString"
            connectionString="Server=localhost\SQLEXPRESS;Database=ChatDB;Trusted_Connection=True;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>
